# data input:

In [9]:
!dir

 Volume in drive C is Windows
 Volume Serial Number is 3C49-8872

 Directory of C:\Users\WINNER\Exports

05/15/2024  08:42 PM    <DIR>          .
05/15/2024  08:31 PM    <DIR>          ..
05/15/2024  08:20 PM    <DIR>          .ipynb_checkpoints
02/11/2024  11:32 PM            18,061 ChatBot-Gemini-Api.ipynb
02/11/2024  11:36 PM            17,591 Rough.ipynb
05/15/2024  08:42 PM             4,155 Untitled.ipynb
               3 File(s)         39,807 bytes
               3 Dir(s)  62,949,826,560 bytes free

Invalid switch - "".

In [1]:
# data_frame:

In [14]:
import pandas as pd

# Specify the file path to your CSV file
csv_file_path1 = '../data_in/Amazon Sale Report.csv'
csv_file_path2 = '../data_in/Cloud Warehouse Compersion Chart.csv'
csv_file_path3 = '../data_in/Expense IIGF.csv'
csv_file_path4 = '../data_in/International sale Report.csv'
csv_file_path5 = '../data_in/Sale Report.csv'
# Read the CSV file into a DataFrame
df1 = pd.read_csv(csv_file_path1)
df2= pd.read_csv(csv_file_path2)
df3 = pd.read_csv(csv_file_path3)
df4 = pd.read_csv(csv_file_path4)

df5 = pd.read_csv(csv_file_path5)


# Now you can use 'df' to work with your data
# Display the first few rows of the DataFrame

C:\Users\WINNER\AppData\Local\Temp\ipykernel_22088\3036116667.py:10: DtypeWarning: Columns (23) have mixed types. Specify dtype option on import or set low_memory=False.
  df1 = pd.read_csv(csv_file_path1)

   index             Order ID      Date                        Status  \
0      0  405-8078784-5731545  04-30-22                     Cancelled
1      1  171-9198151-1101146  04-30-22  Shipped - Delivered to Buyer
2      2  404-0687676-7273146  04-30-22                       Shipped
3      3  403-9615377-8133951  04-30-22                     Cancelled
4      4  407-1069790-7240320  04-30-22                       Shipped

  Fulfilment Sales Channel  ship-service-level    Style              SKU  \
0   Merchant      Amazon.in           Standard   SET389   SET389-KR-NP-S
1   Merchant      Amazon.in           Standard  JNE3781  JNE3781-KR-XXXL
2     Amazon      Amazon.in          Expedited  JNE3371    JNE3371-KR-XL
3   Merchant      Amazon.in           Standard    J0341       J0341-DR-L
4     Amazon      Amazon.in          Expedited  JNE3671  JNE3671-TU-XXXL

        Category  ... currency  Amount    ship-city   ship-state  \
0            Set  ...      INR  647.62       MUMBAI  MAHARASHTRA
1          kurta  ...      INR  406.00    BENGALURU    KARNATAKA
2          kurta  ...      INR  329.00  NAVI MUMBAI  MAHARASHTRA
3  Western Dress  ...      INR  753.33   PUDUCHERRY   PUDUCHERRY
4            Top  ...      INR  574.00      CHENNAI   TAMIL NADU

  ship-postal-code  ship-country  \
0         400081.0            IN
1         560085.0            IN
2         410210.0            IN
3         605008.0            IN
4         600073.0            IN

                                       promotion-ids    B2B  fulfilled-by  \
0                                                NaN  False     Easy Ship
1  Amazon PLCC Free-Financing Universal Merchant ...  False     Easy Ship
2       IN Core Free Shipping 2015/04/08 23-48-5-108   True           NaN
3                                                NaN  False     Easy Ship
4                                                NaN  False           NaN

  Unnamed: 22
0         NaN
1         NaN
2         NaN
3         NaN
4         NaN

[5 rows x 24 columns]

In [20]:
df1.sample(10)

,index,Order ID,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,SKU,Category,...,currency,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,B2B,fulfilled-by,Unnamed: 22
79727,79727,404-6716131-0438713,05-07-22,Cancelled,Amazon,Amazon.in,Expedited,J0008,J0008-SKD-L,Set,...,NaN,NaN,NOIDA,UTTAR PRADESH,201305.0,IN,NaN,False,NaN,False
87852,87852,406-8794076-8410740,05-02-22,Shipped,Amazon,Amazon.in,Expedited,MEN5002,MEN5002-KR-XL,kurta,...,INR,499.0,BARASAT,WEST BENGAL,700126.0,IN,IN Core Free Shipping 2015/04/08 23-48-5-108,False,NaN,False
81974,81974,402-9864694-2680328,05-05-22,Shipped,Amazon,Amazon.in,Expedited,J0340,J0340-TP-XL,Top,...,INR,690.0,CHENNAI,TAMIL NADU,600008.0,IN,NaN,False,NaN,False
69381,69381,403-7741536-6785929,05-15-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3870,JNE3870-DR-S,Western Dress,...,INR,721.0,VADODARA,Gujarat,390010.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
62252,62252,405-6943146-0420322,05-21-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,SET332,SET332-KR-PP-XXXL,Set,...,INR,549.0,BENGALURU,KARNATAKA,560073.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,False
13385,13385,403-4215787-5036343,04-22-22,Shipped,Amazon,Amazon.in,Expedited,JNE3566,JNE3566-KR-M,kurta,...,INR,419.0,KODAIKANAL,TAMIL NADU,624101.0,IN,NaN,False,NaN,NaN
108892,108892,406-9262676-7013151,06-14-22,Shipped,Amazon,Amazon.in,Expedited,MEN5002,MEN5002-KR-XL,kurta,...,INR,709.0,PIMPRI CHINCHWAD,MAHARASHTRA,411033.0,IN,NaN,False,NaN,False
43714,43714,403-3686516-0655522,04-04-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,JNE3797,JNE3797-KR-XXXL,Western Dress,...,INR,715.0,Trichy,TAMIL NADU,620021.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN
61027,61027,404-7637272-8501144,05-22-22,Shipped,Amazon,Amazon.in,Expedited,J0008,J0008-SKD-L,Set,...,INR,1133.0,BENGALURU,KARNATAKA,560068.0,IN,NaN,False,NaN,False
28936,28936,408-1239716-1615512,04-13-22,Shipped - Delivered to Buyer,Merchant,Amazon.in,Standard,J0379,J0379-SKD-M,Set,...,INR,1287.0,SITAPUR,UTTAR PRADESH,261001.0,IN,Amazon PLCC Free-Financing Universal Merchant ...,False,Easy Ship,NaN

In [24]:
print(df1.dtypes)

index                   int64
Order ID               object
Date                   object
Status                 object
Fulfilment             object
Sales Channel          object
ship-service-level     object
Style                  object
SKU                    object
Category               object
Size                   object
ASIN                   object
Courier Status         object
Qty                     int64
currency               object
Amount                float64
ship-city              object
ship-state             object
ship-postal-code      float64
ship-country           object
promotion-ids          object
B2B                      bool
fulfilled-by           object
Unnamed: 22            object
dtype: object

In [25]:
df=df1

In [30]:
df['Sales Channel ']

0         Amazon.in
1         Amazon.in
2         Amazon.in
3         Amazon.in
4         Amazon.in
            ...
128970    Amazon.in
128971    Amazon.in
128972    Amazon.in
128973    Amazon.in
128974    Amazon.in
Name: Sales Channel , Length: 128975, dtype: object

In [2]:
#data preprocessing

In [31]:
import pandas as pd
from sklearn.preprocessing import LabelEncoder
from sklearn.impute import SimpleImputer
from sklearn.preprocessing import StandardScaler
# Convert 'Date' column to datetime
df['Date'] = pd.to_datetime(df['Date'])

# Handle missing values
# Replace NaN in 'ship-postal-code' with a default postal code or remove rows
df['ship-postal-code'].fillna('00000', inplace=True)

# Encode categorical variables
label_encoders = {}
categorical_cols = ['Status', 'Fulfilment', 'Sales Channel ', 'ship-service-level', 'Style', 'Category', 'Size', 'ASIN', 'ship-city', 'ship-state', 'ship-country', 'promotion-ids', 'fulfilled-by']
for col in categorical_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col].astype(str))
    label_encoders[col] = le

# Impute missing values in numeric columns (e.g., 'Amount')
imputer = SimpleImputer(strategy='mean')
df['Amount'] = imputer.fit_transform(df[['Amount']])

# Scale numeric features
scaler = StandardScaler()
df[['Qty', 'Amount']] = scaler.fit_transform(df[['Qty', 'Amount']])

# Drop unnecessary columns
df.drop(['index', 'Order ID', 'currency', 'B2B', 'Courier Status', 'Unnamed: 22'], axis=1, inplace=True)

In [41]:
df.sample(10)

,Date,Status,Fulfilment,Sales Channel,ship-service-level,Style,Category,Size,ASIN,Qty,Amount,ship-city,ship-state,ship-postal-code,ship-country,promotion-ids,fulfilled-by
74264,2022-05-11,9,0,0,0,203,6,8,2526,0.304989,-0.273540,2100,14,110064,0,5766,1
104302,2022-06-18,9,0,0,0,441,8,5,28,0.304989,-1.029280,2652,1,534198,0,5787,1
3118,2022-04-28,11,1,0,1,847,8,5,5319,0.304989,-0.889872,8495,44,140603,0,4489,0
128546,2022-06-01,9,0,0,0,347,6,8,4726,0.304989,-0.556025,3993,56,631502,0,5787,1
125703,2022-06-03,9,0,0,0,371,7,10,4094,0.304989,0.504213,1466,56,600106,0,5787,1
78872,2022-05-07,11,1,0,1,1287,5,9,5919,0.304989,-0.189161,7322,23,585228,0,1453,0
88513,2022-05-02,11,1,0,1,1144,5,8,629,0.304989,-0.372593,4599,23,575015,0,1447,0
37045,2022-04-08,11,1,0,1,308,5,8,3224,0.304989,1.105871,872,49,311001,0,5009,0
62511,2022-05-21,11,1,0,1,779,8,9,4559,0.304989,-1.275080,2906,57,500085,0,4182,0
19355,2022-04-19,9,0,0,0,1134,5,7,856,0.304989,0.511551,3728,24,691004,0,5766,1

In [3]:
##missing val

In [4]:
## numerical_conversion

In [5]:
## normalisation

In [6]:
#observation:

In [40]:
df.dtypes

Date                  datetime64[ns]
Status                         int32
Fulfilment                     int32
Sales Channel                  int32
ship-service-level             int32
Style                          int32
Category                       int32
Size                           int32
ASIN                           int32
Qty                          float64
Amount                       float64
ship-city                      int32
ship-state                     int32
ship-postal-code               int32
ship-country                   int32
promotion-ids                  int32
fulfilled-by                   int32
dtype: object

In [35]:
df.drop(['SKU'], axis=1, inplace=True)

In [39]:
df['ship-postal-code'] = df['ship-postal-code'].astype('int32')

In [7]:
#model:

In [8]:
#API:

In [42]:
# template:

In [ ]:
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import LabelEncoder, StandardScaler

# Load your dataset (assumed to be in CSV format)
df = pd.read_csv('path_to_your_dataset.csv')

# Preprocess data
df['Date'] = pd.to_datetime(df['Date'])

# Encode categorical variables
cat_cols = ['Status', 'Fulfilment', 'Sales Channel', 'ship-service-level', 'Style', 'Category', 'Size', 'ASIN', 'ship-city', 'ship-state', 'ship-country', 'promotion-ids', 'fulfilled-by']
for col in cat_cols:
    le = LabelEncoder()
    df[col] = le.fit_transform(df[col])

# Split data into train and test sets
X = df.drop(['Amount'], axis=1)  # Features
y = df['Amount']  # Target variable (amount)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Scale numerical features
scaler = StandardScaler()
X_train[['Qty', 'ship-postal-code']] = scaler.fit_transform(X_train[['Qty', 'ship-postal-code']])
X_test[['Qty', 'ship-postal-code']] = scaler.transform(X_test[['Qty', 'ship-postal-code']])

In [43]:
# re:

In [ ]:
# Implement your RL model (e.g., using a simple epsilon-greedy strategy)
def epsilon_greedy_policy(state, epsilon=0.1):
    if np.random.rand() < epsilon:
        # Random action (exploration)
        return np.random.choice(action_space)
    else:
        # Exploit (choose action with highest Q-value)
        return np.argmax(Q[state])

# Train RL model (e.g., Q-learning)
def train_rl_model():
    # Implement RL training procedure (e.g., Q-learning algorithm)
    # Update Q-values based on rewards and state transitions
    pass

In [44]:
#ml_algo:

In [ ]:
from sklearn.linear_model import LinearRegression

# Train ML model (e.g., Linear Regression)
ml_model = LinearRegression()
ml_model.fit(X_train, y_train)

In [45]:
#dl:

In [ ]:
import tensorflow as tf
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Dropout

# Build and train DL model (e.g., Feedforward Neural Network)
dl_model = Sequential([
    Dense(64, activation='relu', input_shape=(X_train.shape[1],)),
    Dropout(0.2),
    Dense(32, activation='relu'),
    Dense(1)  # Output layer (for regression)
])

dl_model.compile(optimizer='adam', loss='mean_squared_error')
dl_model.fit(X_train, y_train, epochs=10, batch_size=32, verbose=1)

In [ ]:
def recommend_items(user_features):
    # Use RL model to select items for exploration
    rl_action = epsilon_greedy_policy(state)

    # Use ML model for collaborative filtering recommendations
    ml_prediction = ml_model.predict(user_features)

    # Use DL model for personalized recommendations
    dl_prediction = dl_model.predict(user_features)

    # Combine recommendations from different models (e.g., weighted average)
    combined_recommendations = (rl_action + ml_prediction + dl_prediction) / 3.0

    return combined_recommendations

In [ ]:
# Evaluate the models
ml_score = ml_model.score(X_test, y_test)
dl_loss = dl_model.evaluate(X_test, y_test, verbose=0)

print("ML Model Score:", ml_score)
print("DL Model Loss:", dl_loss)

# Use the recommendation system to provide personalized recommendations to users
# Example usage:
user_features = X_test.iloc[0]  # User features for recommendation
recommended_items = recommend_items(user_features)
print("Recommended Items:", recommended_items)